@keyframes h1mov {
    0% {transform: translateX(0px)  translateY(0px)}
    33% {transform: translateX(-200px) translateY(20px)}
    66% {transform: translateX(200px) translateY(-20px)}
	1000% {transform: translateX(0px)  translateY(0px)}
}

h1 {
    color: rgb(38, 7, 80);
    font-size: 40px;
    text-align: center;
    animation: h1mov 10s infinite;
}

p {
    font-family: Verdana, sans-serif;
    padding: 10px;
    font-size: 20px;
}
p::first-letter {
    color: rgb(47, 25, 145);
    font-size: 33px;
    font-weight: bold;
}

.words{
    font-style: italic;
    font-weight: bold;
}

a {
    font-family: Georgia;
    text-decoration: none;
    border-bottom: 1px dashed;
    color: blue;
    transition: 0.2s;
}
a:hover {
    color: red;
}

img{
    margin: auto;
    border: 4px solid red;
    padding: 30px;
    transition: 0.3s;
}
img:hover{
    transform: rotate(360deg) scale(0.7);
}

body{
    background-color: bisque;
}

ol {
    list-style-type: upper-roman;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    list-style: none;
}

@keyframes run {
    0% {transform: translateX(0px)}
    100% {transform: translateX(100px); filter: blur(3px)}
}
li {
    margin-right: 20px;
}



@media (max-width: 800px) {
  @keyframes h1mov {
    0% {transform: translateX(0px)  translateY(0px)}
    33% {transform: translateX(-200px) translateY(20px)}
    66% {transform: translateX(200px) translateY(-20px)}
	1000% {transform: translateX(0px)  translateY(0px)}
    }

    h1 {
        color: rgb(38, 7, 80);
        font-size: 30px;
        text-align: center;
        animation: h1mov 2s infinite;
    }

    p {
        font-family: Verdana, sans-serif;
        padding: 5px;
        font-size: 10px;
    }
    p::first-letter {
        color: rgb(47, 25, 145);
        font-size: 22px;
        font-weight: bold;
    }

    .words{
        font-style: italic;
        font-weight: bold;
    }

    a {
        font-family: Georgia;
        text-decoration: none;
        border-bottom: 1px dashed;
        color: blue;
        transition: 0.2s;
    }
    a:hover {
        color: red;
    }

    img{
        margin: auto;
        max-width: 100px;
        border: 4px solid red;
        padding: 20px;
        transition: 0.3s;
    }
    img:hover{
        transform: rotate(360deg) scale(0.7);
    }

    body{
        background-color: bisque;
    }

    ol {
        list-style-type: upper-roman;
        font-family: Verdana, sans-serif;
        font-size: 13px;
        flex-direction: column
    }

    @keyframes run {
        0% {transform: translateX(0px)}
        100% {transform: translateX(80px); filter: blur(3px)}
    }
    li {
        margin-bottom: 10px;
    }
}