body {
    background-image: url(./images/back.jpg);
}

h1 {
    color: rgb(38, 7, 80);
    font-size: 40px;
    text-align: center;
}

p {
    font-family: Verdana, sans-serif;
    padding: 10px;
    font-size: 20px;
}


a {
    font-family: Georgia;
    text-decoration: none;
    border-bottom: 1px dashed;
    color: blue;
    transition: 0.2s;
}
a:hover {
    color: red;
}

img{
    margin: auto;
    border: 4px solid red;
    padding: 30px;
    transition: 0.3s;
}

img:hover{
    transform: translateX(100px) scale(0.7);
}


ol {
    list-style-type: upper-roman;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

.words{
    font-style: italic;
    font-weight: bold;
}